<article>
  <h1 id="welcome-to-the-baker-lab-at-ohsu">Welcome to The Baker Lab at OHSU</h1>
<p><img src="/assets/images/homepage-general/baker-labcoat2.jpg" width= 50% height=auto style="display: inline; margin: auto;" /></p>
<p>We study how the oral microbiome impacts human health.</p>
<p><br/><br/></p>
<h2 id="the-oral-microbiome">The oral microbiome</h2>
<p>The oral microbiome is the collection of microorganisms that live in the human oral cavity, and includes bacteria, viruses, archaea, and microeukaryotes such as fungi.  These microbes have a major impact on human health, with extremely prevalent and costly oral diseases such as dental caries, periodontal disease, and oral cancers being caused mainly by the bacteria and viruses present in the mouth. </p>
<p><img src="/assets/images/homepage-general/graphical-abstract.jpg" width= 50% height=auto style="display: inline; margin: auto;" /></p>
<p>We leverage emerging technologies in sequencing, mass spectrometry, bioinformatics and molecular biology to answer fundamental questions regarding the ecology, physiology, and pathogenesis of the oral microbiome.  This has included pioneering the use of nanopore sequencing on saliva and oral bacterial RNA. The resulting work discovered new bacterial species and biosynthetic pathways which impact the ecology of the oral microbiome and its relationship to human disease. Check out the &#39;Our Research&#39; page for a more detailed description of our current research interests, or the &#39;Publications&#39; page for a list of the peer-reviewed research articles, review articles, and textbook chapters that we&#39;ve written.</p>
<p>Please feel free to contact us if you&#39;re interested in joining our team, or are interested in our research.  </p>
<p>Our research is funded by the National Institute of Dental and Craniofacial Research (a branch of the NIH), the Research Council of Norway, and Oregon Health &amp; Science University.</p>

  
  <!-- <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="archive">
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul> -->
  
  <!-- {% capture markdown_content %}
    {% include homepage.md %}
  {% endcapture %}
  {{ markdown_content | remove_first: '---' | markdownify }} -->
</article>
